.board {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 0.25em;
 border-style: solid;
 border-radius: 1.3em;
 border-color: rgb(150, 150, 150);
}

.tile {
    border-radius: 1em;
    width: 14em;
    max-width: 31vmin;
    height: 14em;
    max-height: 31vmin;
}

.start-btn {
    display: flex;
    margin: auto;
    border-radius: 0.3em;
    border-width: 0.3em;
    border-style: solid;
    border-color: rgb(150, 150, 150);
    background-color: rgb(100, 100, 100);
}